<div class="grid menu">
    <div class="row row--lg">
        <div class="cell">
            <a href="/news">News</a>
        </div>

        <div class="cell">
            <a href="/index">Index</a>
        </div>


        <div class="cell">
            <a href="/forum">Forum</a>
        </div>


        <div class="cell">
            <a href="/search">Search</a>
        </div>

        <div class="cell">
            <a href="/timeline">Timeline</a>
        </div>

        <div class="cell">
            <a href="/colophon">Colophon</a>
        </div>
    </div>
</div>
