{{ partial "header.html" . }}
{{ partial "menu.html" . }}
{{ .Content }}


<div class="grid" >


    <div class="row row--lg">

        <div class="cell">
            {{ partial "start.html" . }}
        </div>

        <div class="cell">
            {{ partial "opinion.html" . }}
        </div>

        <div class="cell">
            {{ partial "technical.html" . }}
        </div>

    </div>


<div class="row row--lg">

    <div class="cell">
        {{ partial "travels.html" . }}
    </div>

    <div class="cell">
        {{ partial "equipment.html" . }}
    </div>

    <div class="cell">
        {{ partial "workshops.html" . }}
    </div>

</div>

<div class="row row--lg">

    <div class="cell">
        {{ partial "books.html" . }}
    </div>

    <div class="cell">
        {{ partial "community.html" . }}
    </div>

</div>

</div>
{{ partial "footer.html" . }}


